.details {
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetailsImage {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 100px;
  padding-left: 30px;
}

.productInfoName {
  font-size: 30px;
}
